<hr>
<h1>Comments</h1>
<% for comment in blog_post.comments.where(parent: nil) %>
    <h2><%= comment.user.username %></h2>
    <%= comment.body %>
<% end %>

<%= render "comments/form", blog_post: blog_post, parent: nil %>
