
<h2><%= comment.user.username %></h2>
<%= comment.body %>
<%= render "comments/comment_collection", blog_post: @blog_post, parent: comment %>
<%#= render "comments/form", blog_post: blog_post, parent: comment %>
