<div id="<%= dom_id(blog_post, :comments) %>">
    <% for comment in blog_post.comments.where(parent: parent) %>
        <%= render "comments/comment", comment: comment, blog_post: blog_post %>
    <% end %>
</div>
