<hr>
<h1>Comments</h1>
<div id="comments">
    <% for comment in blog_post.comments.where(parent: parent) %>
        <%= render "comments/comment", comment: comment, blog_post: blog_post %>
    <% end %>
</div>
