<div id="<%= dom_id(comment, :content) %>">
    <h2><%= comment.user.username %></h2>
    <% if comment.body.empty? %>
        <p>No Content</p>
    <% else %>
        <%= comment.body %>
    <% end %>
</div>
