<%= render partial: "blog_posts/content", locals: { blog_post: blog_post } %>

<% if Current.user == blog_post.user %>
    <%= render "blog_posts/edit_button", blog_post: blog_post %>
<% end %>

<hr>

<h1>Comments</h1>
<%= render "comments/new_button", blog_post: blog_post, comment: Comment.new %>
<%= render "comments/comment_collection", blog_post: blog_post, parent: nil %>
<hr>